/* Header & Glassmorphism Navbar Component Styles */
.quanta-navbar {
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.site-head.quanta-navbar.is-scrolled {
  top: 1rem;
  width: 96%;
  max-width: 1840px;
  height: 3.75rem;
  border-radius: 9999px;
}
