/* Layout & Container Grid Utilities */
.u-container {
  width: 96%;
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media only screen and (max-width: 768px) {
  .u-container {
    width: 100%;
    padding: 0 1.25rem;
  }
}

@media only screen and (max-width: 480px) {
  .u-container {
    padding: 0 1rem;
  }
}

